$header-colour: linear-gradient(
  120deg,
  rgb(179, 176, 176) 19%,
  rgb(145, 144, 144) 50%,
  rgb(97, 96, 96) 73%,
  rgb(57, 63, 63) 86%
);
$fb__insta__git: linear-gradient(
  60deg,
  rgba(0, 0, 0, 1) 48%,
  rgba(255, 255, 255, 1) 100%
);

$light__grey: rgb(100, 96, 96);

//
//fonts

$main__font: "Bangers";
